*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home
{
    height: 100vh;
}
.nav-hero
{
    background: #F0FFF0;
    height: 60%;
}
.logo
{
    width: 160px;
}

.btn-color
{
    background: #21B573;
    outline: none;
    border: none;
}
.nav-btn
{
    border-radius: 20px;
}
.navbar-collapse ul li 
{
    margin-right: 20px;
}
.navbar-collapse ul li a 
{
    color: black;

}

/* navbar end here */
/* hero section start from here */
.hero-head-color
{
    color: #21B573;   
}

.catagori
{
    height: 33%;
}
.catagori-img
{
    width: 90px;
}
.catagori-column
{
    background: #ebf5ed;
    width: auto;
    padding: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    border-radius: 10px;
    transition: .3s;
}
.catagori-column:hover
{
    box-shadow: 1px 2px 8px;
}

/* catagori end here */

/* course start from here */
#course
{
    height: 100vh;
}
.card
{
    width: 18rem;
    box-shadow: 0px 3px 10px;
}
.course-calander
{
    width: 20px;
}
.course-people
{
    width: 20px;
}
.testimonial-content
{
    width: 55rem;
}
.testimonial-img
{
    width: 100px;
}
#footer
{
    background: #282531;
    color: white;
}
.secone-row li 
{
    list-style: none;
}
.secone-row li a
{
    color: rgb(219, 211, 211);
    text-decoration: none;
    
}
.secone-row li a:hover
{
    color: #21B573;
}